           <main>
              <div>
                <section class="btn-container">
                  <button  type="button" class="btn">
                      Yeah, I want more bacon!
                  </button>
                </section>
                <section class="bacon cloning" >
                  <img  class="bacon__img" src="{{ img }}"  alt="Beautiful slices of fried bacon">
                </section>
              </div>
            </main>
